@tailwind base;
@tailwind components;
@tailwind utilities;
.input-bgRemove {
  color: #000000;
  background-color: transparent;
}
.input-bgRemove:focus {
  outline: none;
  border: 0px solid;
  color: #090908;
}
.divOfSignUp {
  margin: auto;
  width: 50%;
  border: 2px solid rgb(9, 73, 132);
  padding: 1% 3%;
}
.divOfSignUp:focus-within {
  border-left: 4px solid #2868bc;
}
.signUpBtn {
  background: rgb(9, 73, 132);
  color: white;
  padding: 15px 30px;
  font-weight: 500;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.signUpBtn:hover {
  box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.4); /* Increase shadow on hover */
}
